div{
  margin:10px;
  padding:10px;
}

.one{
  background-color: #8D8741;
}

.two{
  background-color: #659DBD;
}

.three{
  background-color: #DAAD86;
}

.four{
  background-color: #BC986A;
}

.five{
  background-color: #FBEEC1;
}
