*{box-sizing: border-box;}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
  padding:0;
  display: block;
  background-image: linear-gradient(45deg, #8860d0, #5AB9EA, #8860d0);
}

#github, #linkedin{
  width:30px;
  height:30px;
  margin: 10px;
}

#github:hover, #linkedin:hover{
  transform: scale(1.5);
}

.body-wrapper{
  position: inherit;
  margin: auto;
  width: 65%;
  display: block;
  background-color: #C1C8E4;
  box-shadow: 0px 0px 15px #BDBDBD;
}

.center{
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:100%;
  margin: 0 auto;
  background-color:#C1C8E4;
  position: sticky;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.cite{
  font-size: 12px;
}

.footer{
  display: flex;
  justify-content: flex-start;
}

.header{
  font-size:100%;
  text-align: center;
}

.link{
  display: inline-block;
  margin: 10px;
  padding: 20px;
  text-decoration-color: #8860D0;
}

.link:hover {
  transform: scale(1.25);

}

.mySlides{
  display: none;
  width: 100%;
  height: 30%;
}

.one{
  display: block;
}

.slideShowImg{
  width: 300px;
  height: 300px;
  vertical-align: middle;
}

.slideShowContainer{
  max-width: 1000px;
  position:relative;
  margin:10px;
  padding:10px;
}

.prev, .next{
  cursor: pointer;
  top:50%;
  width:auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: #DEEAEE;
}

.dot{
  cursor: pointer;
  height:15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #111111;
}

.dots{
  text-align: center;
}

.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from{opacity: 4}
  to {opacity: 1}
}

@keyframes fade {
  from{opacity: 4}
  to {opacity: 1}
}
